{% extends 'home/layout.html' %}

{% block title %}Cadastro{% endblock %}

{% block body %}
<style>
    label{
        display: flex;
        align-items: center;
        margin: 0;
    }

    input[type = 'text'], input[type = 'password'], input[type = 'email']{
        border: none;
        border-radius: 10px;
        outline: none;
        padding: 0 10px;
        background-color: #DEE4E7;
        height: 40px;
    }
    .submit_btn_area{
        margin-top :10px ;
        width: 50vw;
    }
    input[type = 'submit']{
        background-color: #007bff;
        width: 25vw;
        border-radius: 40px;
        line-height: 30px;
        outline: none;
        border: none;
        color: white;
        font-weight: bold;
    }
    .alert{
        margin-top: 10px;
        color: black;
        width: 30vw;
    }
</style>


<script>
    document.addEventListener("DOMContentLoaded", ()=>{
        document.querySelector("#id_username").style.textAlign = 'left';
        document.querySelector('#id_password').setAttribute('placeholder', 'Senha');
        document.querySelector('#id_password').style.textAlign = 'left';
        document.querySelector('#id_confirm_password').setAttribute('placeholder', 'Confirme a Senha');
        document.querySelector('#id_confirm_password').style.textAlign = 'left';
        document.querySelector("#span_msg").addEventListener("change", ()=>{
            document.querySelector("#span_msg").style.display = 'block'
        })
        // Use to the site now show the error msg if it is empty
        if(document.querySelector("#span_msg").textContent != ''){
            document.querySelector(".centralized-alert").style.display = 'flex'
        }
           
    })
</script>

<main>
    <div class="centralized">
        <h1 class="h">Registrar</h1>
    </div>
<div class="content">
    <div class="text_content">
    <form action="{% url 'register' %}" method="POST">
        {{message}}
        <div class="form_area">
            {{form}}
            {%csrf_token %}
            <div class="centralized-text">
                <div id="submit_btn_area">
                    <input type="submit" value="Enviar" >
                    
                </div>
                
            </div>
            <div class="centralized-alert">
                <div class="alert alert-danger" role="alert">
                   <span id="span_msg">{{msg}}</span>
                </div>
            </div>
        </div>
    </form>
    <p>OBS: Não uma senha que esteja sendo usada em outros registros, recomendo usar uma senha especifica para o estudologia e de preferência bem forte, para facilitar use <a href="https://www.lastpass.com/pt/features/password-generator" rel="external" target="blank">esse site</a> para gerar uma senha forte</p>
    </div>
</div>
</main>

{% endblock %}